{%extends "base.html" %}  
{%block conteudo%}
{% load staticfiles %}
<div id="article">				
	<h1>{{artigo.titulo}}</h1>
	<h3>{{artigo.subtitulo}}</h3>
	{% if artigo.foto != 'fotos/sem.png' %}
		<img src="{{artigo.foto.url}}">
	{% endif %}	

	{%for p in ps %} 
		{% if p.titulo != 'vizio**' %}
		    <h2>{{p.titulo}}</h2>		    
		{% endif %}    
		{% if p.foto != 'fotos/sem.png' %}
			<img class="imgP" src="{{p.foto.url}}">		    		
		{% endif %}
		<p>{{p.texto}}</p>                     
    {% endfor %}            	
	<br/>
	<h3>Trailer do God of war</h3>
	<iframe width="80%" height="430" src="https://www.youtube.com/embed/CJ_GCPaKywg" frameborder="0" allowfullscreen></iframe><br/><br/>	
</div>
{% endblock %}